#controls.clearfix
  .active
    - if itunes.player_state == :playing
      .pause= link_to 'pause', :do => :pause
    - else
      .play= link_to 'play', :do => :play

  .volume.clearfix
    #volume_slider.ui-slider-1{:style => 'margin:10px; border:1px solid blue'}
      #volume_handle.ui-slider-handle
    / .down= link_to '(&ndash;)', :do => :volume_down
    / %h3= itunes.current_volume
    / .up= link_to '(+)', :do => :volume_up
 
  .muting  
    - if itunes.muted?
      .muted= link_to 'ON', :do => :unmute
      %h4 Mute ON
    - else
      .unmuted= link_to 'OFF', :do => :mute    
      %h4 Mute OFF
  .playlist_clear
    .cleared= link_to '[clear]', :do => :clear    
    %h4 Clear Playlist

 

      