%fieldset#controls
  %h1 Controls
  %ul
    
    %li.volume.clearfix
      %label Volume:
      %span  
        = link_to '(&ndash;)', :do => :volume_down
        = itunes.current_volume
        = link_to '(+)', :do => :volume_up
    %li.mute.clearfix
      %label Mute:
      - if itunes.muted?
        %span= link_to 'ON', :do => :unmute
      - else
        %span= link_to 'OFF', :do => :mute    

    %li.play.clearfix
      %label &nbsp;
      - if itunes.player_state == :playing
        %span= link_to 'pause', :do => :pause
      - else
        %span= link_to 'play', :do => :play