#current
  %h2 Now Playing
  #active_song
    - if !itunes.playlist_empty?
      %h3= itunes.current_track.title
      %h4 
        = itunes.current_track.artist
        &mdash;
        = itunes.current_track.album
      %h5== #{itunes.time_left_in_current_track} / #{itunes.current_track.time}  
    - else
      %h3 Nothin' ! 